.header__container{
    display: flex;
    padding: 20px 50px !important;
    align-items: center;
    .header__inner{
        @include inner;
        justify-content: space-between;
        .logo{
            display: flex;
            padding: 15px 0px;
            align-items: center;
            max-width: 247px;
            .logo-link{
                display: flex;
                gap: 12px;
                height: 32px;
                align-items: center;
                .logo-text{
                    max-height: 19.8px;
                }
            }
        }
        .header__navigation{
            max-width: 607px;
            width: 100%;
            .header__menu{
                display: flex;
                font-family: $mainFont;
                color: $text-main-color;
                align-items: center;
                justify-content: space-between;
                .header__menu-item{
                    padding-left:20px;
                    cursor: pointer;
                    font-weight: 600;
                    &:hover{
                        color: $callToAction;
                    }
                    &:last-of-type{
                        padding-right: 0px;
                    }
                    .header__menu-link{
                        letter-spacing: .03rem;
                        line-height: 22.4px;
                    }
                }
            }
        }
    }
}